---
layout: page
---


<div class="row">
	<div class="text-center col-md-5">
		<div>
			<h1 class="about-title">Front-End Dev</h1>
		</div>
		<div class="about-box">
			<span>
				<img src="{{ site.url }}/assets/img/leonardmreidy.png" class="about-img img-circle">
			</span>
		</div>
		<div>
			<h3 class="about-subtitle">Leonard M Reidy <br> 
				<small>BA, BSc, MA</small>
			</h3>

		</div>
		<div class="btn-group" role="group" aria-label="Basic example">
			  <button title="Take me to LinkedIn" type="button" class="btn btn-primary btn-primary-border"><i class="fa fa-2x fa-linkedin"></i></button>
			  <button title="Take me to Github" type="button" class="btn btn-primary btn-primary-border"><i class="fa fa-2x fa-github"></i></button>
			  <button title="Take me to Gisthub" type="button" class="btn btn-primary"><i class="fa fa-2x fa-github-alt"></i></button>
		</div>

	</div>
	<div class="col-md-7">
		<div>
			<p class="about-p">
			{{ content }} 
			</p>
		</div>
		<div>
			<h1>Hiring? </h1>
			<p class="about-p">I am actively seeking a role as a junior front-end web developer with a view to full-stack development. I am also open to work placements/internships in either a full-time or part-time capacity. Why not explore the site to find out more or check out my work on Github, Gisthub, and LinkedIn!</p>
		</div>
		<hr>
	</div>
</div>