---
layout: default
---

{% include heading.html %}

<div class="container">
			
{{ content }}

</div>
<div class="container">
	<div class="row">

		<div class="col-md-3">
			<div class="bs-docs-sidebar">
				<ul class="nav bs-docs-sidenav">
					<li>
						<h3>Source</h3>
					</li>

					<li>
						<div>
							<p>In the table on the right you will find brief descriptions and links to demos of the associated code. Some of the demos are not, strictly speaking, functional. PHP lab content cannot be served from Github pages, which hosts this site. Any lab that is not currently functioning on Github pages should include a brief README.md file to signal this
							</p>
			        <a href="https://github.com/g00341288/g00341288.github.io" class="btn btn-lg btn-primary"><i class="fa fa-github"></i> Module Website Repo</a>
			        <a href="https://github.com/g00341288/phoMart" class="btn btn-lg btn-primary"><i class="fa fa-github"></i> Final Project Repo</a>
		        </div>
					</li>
				</ul>
				
				<a class="back-to-top" href="#top">Back to top</a>
			</div>
		</div>

		<div class="col-md-9 resources">

			<!-- Labs - liquid templates are used hear to pull  -->
			<h3>Lab Demos</h3>
			<div class="table-responsive">
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<th class="resource-name">Name</th>
							<th>Description</th>
							<th class="resource-link">Link</th>
						</tr>
					</thead>
					<tbody>

						{% for item in site.c50141 %}
						<tr id="{{ item.resource-hash }}">
							<td>{{ item.name }}</td>
							<td>{{ item.short-description }}</td>
							<td><a href="{{ site.url }}{{ item.resource-link }}" class="btn btn-primary btn-sm">View Demo</a></td>
						</tr>
						{% endfor %}

					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>